.example-card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-left: 2rem;
  margin-top: 1rem;
}

.example-header-image {
  background-image: url("https://w7.pngwing.com/pngs/754/944/png-transparent-dining-room-drawing-tapet-design-food-recipe-logo.png");
  background-size: cover;
}

img.inner-img {
  width: 100px;
  height: 100px;
  justify-self: right;
  padding-right: 1rem;
  margin-left: 1rem;
}

mat-card-header {
  padding-top: 1rem;
}

mat-card-content {
  padding-top: 1rem;
}

.btn {
  margin: 1rem 0 1rem 4rem;
}

a {
  text-decoration: none;
}

mat-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
